# Node.js / React (frontend)
node_modules
/frontend/node_modules
/frontend/node_modules/
/frontend/build/
/frontend/.env


# Python / FastAPI (backend)
__pycache__/
*.pyc
*.pyo
*.pyd
backend/.env
backend/*env/  # Covers .venv/, venv/, env/
backend/*.log
backend/pip-log.txt

# General
.DS_Store
*.swp
*.swo
*.bak
*.tmp
*.pid
*.seed
*.tar.gz
*.zip

# Editor directories and files
.idea/
.vscode/